@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial,
    "Noto Sans", "Liberation Sans", sans-serif;
}

.prose :where(code):not(:where(pre code)) {
  padding: 0.12rem 0.3rem;
  border: 1px solid rgb(228 228 231);
  border-radius: 0.35rem;
  background: rgb(250 250 250);
}

.prose pre {
  background: rgb(24 24 27);
  color: rgb(244 244 245);
}
